{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommender System</title>
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<style>
    @import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);


    /****** Style Star Rating Widget *****/

    .rating {
        border: none;
        float: left;
    }

    .rating > input {
        display: none;
    }

    .rating > label:before {
        margin: 5px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }

    .rating > .half:before {
        content: "\f089";
        position: absolute;
    }

    .rating > label {
        color: #ddd;
        float: right;
    }

    /***** CSS Magic to Highlight Stars on Hover *****/

    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label {
        color: #FFD700;
    }

    /* hover previous stars in list */

    .rating > input:checked + label:hover, /* hover current star when changing rating */
    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
    .rating > input:checked ~ label:hover ~ label {
        color: #FFED85;
    }

    .margin {
        margin: 5px 15px 0 15px;
    }

    .align-rating {
        background-color: white;
        height: 40px;
        border-radius: 5px;
        margin-top: -15px;
        margin-left: 40px;
    }

</style>
<body>
<div class="container-fluid" style="background-color: #3C8DBC;">
    <a href="{% url 'index' %}" style="text-decoration: none;"><h1>Book Recommender</h1></a>
</div>
<div class="margin">
    <div class="row margin">
        <div class="col-lg-12" style="background-color: #00C0EF;border-radius: 5px">
            <h3>Step 1: Rate as many books as possible</h3>
        </div>
    </div>
    <div class="row margin">
        {% for a, b in details.items %}
            <div class="col-lg-2" style=" text-align: center;">
                <img src="{{ b }}" alt="" style="width: 150px; margin: 0 0 0 42px">
                <div style="margin-left: 40px">
                    <h6>{{ a }}</h6>
                </div>
                <div class="align-rating">
                    <fieldset class="rating">
                        <input type="radio" id="5{{ forloop.counter }}" name="{{ forloop.counter }}" value="5"
                               onclick="saveRating({{ forloop.counter }},5)"/><label class="full"
                                                                                     for="5{{ forloop.counter }}"
                                                                                     title="Awesome - 5 stars"></label>

                        <input type="radio" id="4{{ forloop.counter }}" name="{{ forloop.counter }}" value="4"
                               onclick="saveRating({{ forloop.counter }},4)"/><label class="full"
                                                                                     for="4{{ forloop.counter }}"
                                                                                     title="Pretty good - 4 stars"></label>

                        <input type="radio" id="3{{ forloop.counter }}" name="{{ forloop.counter }}" value="3"
                               onclick="saveRating({{ forloop.counter }},3)"/><label class="full"
                                                                                     for="3{{ forloop.counter }}"
                                                                                     title="Meh - 3 stars"></label>

                        <input type="radio" id="2{{ forloop.counter }}" name="{{ forloop.counter }}" value="2"
                               onclick="saveRating({{ forloop.counter }},2)"/><label class="full"
                                                                                     for="2{{ forloop.counter }}"
                                                                                     title="Kinda bad - 2 stars"></label>

                        <input type="radio" id="1{{ forloop.counter }}" name="{{ forloop.counter }}" value="1"
                               onclick="saveRating({{ forloop.counter }},1)"/><label class="full"
                                                                                     for="1{{ forloop.counter }}"
                                                                                     title="Sucks big time - 1 star"></label>

                    </fieldset>
                </div>


            </div>
        {% endfor %}


    </div>

    <div class="row margin">
        <div class="col-lg-12" style="background-color: #00C0EF; border-radius: 5px">
            <h3>Step 2: Select a book to get rating prediction</h3>
        </div>
    </div>
    <div class="row margin">
        <div class="col-lg-12" style="margin: 0 0 40px 0">
            <form method="post" action="{% url 'getRec' %}">
                <select name="d" id="dropdown">
                    <option value=""></option>
                    {% for a, b in details.items %}
                        <option id="{{ forloop.counter }}" value="{{ forloop.counter }}">{{ a }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Click here to get your recommendations">
            </form>
            {#            <a class="btn btn-primary" href="{% url 'getRec' %}">Click here to get your recommendations</a>#}
            <h3>Your predicted rating for {{ item }} is {{ prediction }}</h3>
        </div>
    </div>
    <div class="row margin">
        <div class="col-lg-12" style="background-color: #00C0EF; border-radius: 5px">
            <h3>Books similar to {% if item %}{{ item }}{% else %}this book{% endif %}</h3>
        </div>
    </div>

    <div class="row margin">
        {% for t,i in recdetails.items %}
            <div class="col-lg-2" style=" text-align: center;">
                <div style="width: 150px; background-color: #3C8DBC; margin-left: 42px; border-radius: 3px;">
                    <h4>Rank {{ forloop.counter }}</h4>
                </div>
                <img src="{{ i }}" alt="" style="width: 150px; margin: 0 0 0 42px">
                <div style="margin-left: 40px">
                    <h6>{{ t }} </h6>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

</body>
<script>
    function saveRating(x, y) {

        $.ajax({
            url: "/rating",
            method: "POST",
            data: {'bookid': x, 'rating': y,},

        });
        console.log(x + ' ' + y);
    }

</script>
</html>
